h1 , .container{
    background-color: #ffffff;
   color: rgb(0, 0, 0);
   justify-content: center;
   align-items: center;
   display: flex;
   text-align: center;
}
body {
    background-color: rgb(17, 99, 124);
    
    font-family: sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
	background: rgb(17, 99, 124);
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
	box-shadow: 0px 10px 20px 20px #f0ebeb;
}



 

 
.bil{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;	
}
 
.opt{
	font-size: 16pt;
	border: none;
	width: 215px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
 
.tombol{
	background: #8751ec;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: rgb(0, 17, 255);
	font-size: 15pt;
	border-bottom:4px solid #002fff;
}
 
.brand{
	color: rgb(107, 21, 204);
	font-size: 11pt;
	float: right;
	text-decoration: none;
	margin: 12px;
}
 
.judul{
	text-align: center;
	color: rgb(133, 40, 240);
	font-weight: normal;
}